[Unit]
Description=Bluetooth MQTT gateway
Documentation=https://github.com/andi3000/bt-mqtt-gateway
After=bluetooth.service mosquitto.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=openhab
Group=openhabian
WorkingDirectory=/opt/bt-mqtt-gateway
ExecStart=/opt/bt-mqtt-gateway/bt-mqtt-gateway.sh
RestartSec=60
Restart=always

[Install]
WantedBy=multi-user.target
